<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>post list item</title>
</head>
<body>
<div th:fragment="artist_list_item">

    <li class="collection-item avatar hoverable">
        <img src="/images/shirt1.jpg" alt="" class="circle"/>
        <span class="title"><b>Abhishek Singh Rawat</b></span>
        <p>Bangalore </p>
        <a href="#!" class="secondary-content">
            <i class="material-icons ">grade</i>
            <i class="material-icons ">grade</i>
            <i class="material-icons ">grade</i>
            <i class="material-icons ">grade</i>
            <i class="material-icons ">grade</i>
        </a>
    </li>
<br/>

</div>

</body>
</html>