<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<!--navbar-->
<div th:include="fragments/nav :: navbar"></div>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/registration.css}"
      href="/css/registration.css"/>
<br/>
<!--visible region-->

<form th:action="@{/home}" method="get">
    <button class="btn btn-md btn-warning btn-block orange" type="Submit">Go To Home Page</button>
</form>
<div class="valign-wrapper">
    <div class="container center-align">
        <br/>
        <br/>
        <h5 class="center-align">Change password</h5>
        <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
        <br/>
        <form id="change_password_form" class="form-horizontal" th:action="@{/change-password}" action="#"
              method="post" th:object="${ChangePasswordDomain}" role="form">
            <div class="form-group input-field ">
                <i class="material-icons prefix">vpn_key</i>
                <input class="validate" type="password" placeholder="Old password" th:field="*{oldPassword}"
                />
                <label th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                       class="validation-message"></label>
            </div>
            <div class="form-group input-field ">
                <i class="material-icons prefix">vpn_key</i>
                <input class="validate" type="password" placeholder="New password" th:field="*{newPassword}"
                       id="newPassword"/>
                <label th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                       class="validation-message"></label>
            </div>
            <button id="btnSubmit" class="center-align btn blue" type="Submit">Change password</button>
        </form>
        <br/>
    </div>
</div>

<div th:include="fragments/footer :: mainfooter"></div>

</body>
</html>