<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/checkout.css}"
          href="/css/checkout.css"/>

</head>
<body>
<!--navbar-->
<div th:include="fragments/nav :: navbar"></div>
<br/>
<!--visible region-->

<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block orange" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${userRegDomain}" method="post" class="form-horizontal"
                  role="form">
                <h3>User Registration</h3>
                <div class="clearfix">
                    <div class="form-group input-field my-input-field">
                        <div class="">
                            <i class="material-icons prefix">face</i>
                            <input type="text" th:field="*{name}" placeholder="Name"
                                   class=" validate"/>
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                   class="validation-message"></label>
                        </div>
                    </div>

                    <div class="form-group input-field my-input-field">
                        <div class="">
                            <i class="material-icons prefix">contacts</i>

                            <input type="text" th:field="*{lastName}"
                                   placeholder="Last Name"/>
                            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                   class="validation-message"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group input-field ">
                    <div class="">
                        <i class="material-icons prefix">email</i>

                        <input type="email" th:field="*{email}" placeholder="Email  ( Verification mail will be sent )"
                               class="validate"/>
                        <label
                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group input-field ">
                    <div class="">
                        <i class="material-icons prefix">vpn_key</i>

                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="validate"/>
                        <label
                                th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                class="validation-message"></label>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="form-group input-field my-input-field">
                        <div class="">
                            <i class="material-icons prefix">person_pin_circle</i>
                            <input type="text" th:field="*{city}" placeholder="City"
                                   class=" validate"/>
                            <label th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
                                   class="validation-message"></label>
                        </div>
                    </div>

                    <div class="form-group input-field my-input-field">
                        <div class="">
                            <i class="material-icons prefix">person_pin_box</i>

                            <input type="text" th:field="*{pinCode}"
                                   placeholder="Pincode"/>
                            <label th:if="${#fields.hasErrors('pinCode')}" th:errors="*{pinCode}"
                                   class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group input-field my-input-field">
                        <div class="">
                            <i class="material-icons prefix">phone_android</i>

                            <input type="text" th:field="*{phone}" class="validate"
                                   placeholder="Phone number   ( Verification OTP will be sent )"/>
                            <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                                   class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group input-field my-input-field">
                        <div class="">
                            <i class="material-icons prefix">accessibility</i>

                            <input type="text" th:field="*{age}" class="validate"
                                   placeholder="Age"/>
                            <label th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                                   class="validation-message"></label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group ">

                    <label th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                           class="validation-message"></label>
                    <div class="radio ">
                        <input type="radio" th:field="*{role}" class="with-gap" name="role" id="post" value="post"
                               checked="true"/>
                        <label for="post"><a><b>I am an Artist</b> and I want to showcase or sell my art on
                            Artshop</a></label>
                    </div>
                    <div class="radio ">
                        <input type="radio" th:field="*{role}" class="with-gap" name="role" id="customer" value="customer"
                        />
                        <label for="customer"><a><b>I am not an Artist</b>, but like to view and buy art</a></label>
                    </div>
                </div>
                <br/>

                <div class="form-group">
                    <p>By clicking "Register" I agree to have read and understood the <a href="/terms_and_condition">terms and conditions</a> and <a href="/privacy_policy">privacy policy</a> for using this platform and I have no issues in receiving promotional emails. </p>
                </div>

                <br/>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>

                <span th:utext="${successMessage}">  </span>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/checkout.js}" src="/js/checkout.js"></script>

<div th:include="fragments/footer :: mainfooter"></div>


</body>
</html>