<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Customer Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/customerorder.css}"
          href="/css/customerorder.css"/>
</head>
<body>
<div th:include="fragments/nav :: navbar"></div>
<br/>
<div class="main-content clearfix container">

    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>
    <div th:include="fragments/order_item :: order_item"></div>


</div>
<div th:include="fragments/footer :: mainfooter"></div>
<script type="text/javascript" th:src="@{/js/upload.js}" src="/js/upload.js"></script>

</body>
</html>
